<a href="https://colab.research.google.com/github/Marianderita/ML_Practice/blob/main/HW1_%D0%97%D0%BC%D1%96%D0%BD%D0%BD%D1%96_%D1%82%D0%B0_%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%96_%D1%82%D0%B8%D0%BF%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D0%B2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [3]:
name = 'Marianna'
age = 27
height = 160.0
is_student = False

print(name)
print(age)
print(height)
print(f'My name is {name}. I am {age} years old. My heigh is {height}.')
print(is_student)

Marianna
27
160.0
My name is Marianna. I am 27 years old. My heigh is 160.0.
False


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [4]:
var1 = 15
var2 = 4

print(var1 + var2) # сума
print(var1 - var2) # різниця
print(var1 * var2) # добуток
print(var1 / var2) # ділення
print(var1 // var2) # цілочисельне ділення
print(var1 % var2) # залишок від ділення
print(var1 ** var2) # піднесення до степеня

19
11
60
3.75
3
3
50625


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [10]:
last_name = 'Svyrydenko'
full_name = name + ' ' + last_name

print(full_name.upper())
print(full_name.lower())
print(len(full_name))
print(f"Мене звати {name}, мені {age} років")

MARIANNA SVYRYDENKO
marianna svyrydenko
19
Мене звати Marianna, мені 27 років